* {
    padding: 0px;
    margin: 0px;
}

/* cores composta */
:root {
    --cor-composto1: #F5EC20;
    --cor-composto2: #F59F20;
    --cor-composto3: #F57B20;
    --cor-composto4: #AD932B;
    --cor-composto5: #6E5837;
    --cor-composto6: #6E6337;
    --cor-composto7: #000BED; 
    --cor-composto8: #0056ED;
    --cor-composto9: #4200ED;
    --cor-composto10: #374B6E;
    --cor-composto11: #2D2E43;
    --cor-composto12: #7500ED;
    --cor-composto13: #46376E;
}


/*cores monocromatico*/
:root {
    --cor1: #EDBE00; /* Cor Principal*/
    --cor2: #CAA23C;
    --cor3: #A0884A;
    --cor4: #75694A;
    --cor5: #4B463C;
    --cor6: #33312B;
}


:root {
    --font-primary: 'PlayfairDisplay-VariableFont_wght', serif;
    --font-secondary: 'BebasNeue-Regular', sans-serif;
}

/* --------------------- configuração dos menu (inicio) --------------------- */

header {
    background-color: rgb(240, 240, 240);
    margin-bottom: 30px;
}

.nav-bar {
    color: black;
    display: flex;
    align-items: center;
    justify-content: space-around;
    box-shadow: 1px 1px 15px 1px rgba(71, 66, 37, 0.445);
}

.nav-logo {
    display: flex;
    align-items: center;
}

.nav-logo p {
    font-family: var(--font-primary);
    padding: 10px;
    font-weight: bolder;
    font-size: 25px;
}

.nav-list {
    display: flex;
    align-items: center;
}

.nav-list ul {
    display: flex;
    justify-content: center;
    list-style: none;
}

li:hover {
    /* colocar depois */
}

.nav-item {
    margin: 0 15px;
}

.nav-link {
    text-decoration: none;
    font-size: 1.5rem;
    color: chocolate;
    font-weight: 400;
}

.login.button {
    padding: 10px;
}

button:hover {
    box-shadow: 1px 1px 15px 8px rgba(231, 202, 39, 0.651);
}

.login-button button {
    border: none;
    background-color: brown;
    padding: 10px 15px;
    border-radius: 5px;
}


.login-button button > a {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    text-decoration: none;
    color: beige;
}


/*adicionar mais tarde as funcoes do mobile menu */
.mobile-menu {
    display: none;
}



/* -------------------- secao 1 inicio do site -------------------- */
.secao-main {
    margin: auto;
    text-align: center;
    max-width: 1200px;
    height: 80vh;
    display: flex;
    
    
}

.div-intro {
    flex: 1; /* Faz com que as duas divs ocupem o mesmo espaço */
    font-family: var(--font-primary);
    padding: 20px;
    background-image: linear-gradient(to top, var(--cor-composto13), rgb(255, 255, 255));
    border-radius: 20px;
    box-shadow: 5px 5px 10px 2px rgba(71, 66, 37, 0.205);
    
    /* Centraliza a div dentro do container */
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centraliza verticalmente */
    align-items: center; /* Centraliza horizontalmente */
    height: 90%; /* Garante que ocupa 90% a altura do container */
}

.div-intro p {
    font-family: var(--font-secondary);
    font-weight: 500;
    transition: 0.9s;
}


.div-intro-foto_wallpaper {
    display: flex;
    text-align: center;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    flex: 1; /* Faz com que as duas divs ocupem o mesmo espaço */
    padding: 20px;
}




.secao-main h1 {
    font-size: 50px;
}


.quebra-texto {
    text-align: center;
    padding: 20px;
    font-size: 14px;
    font-family: var(--font-secondary);
}

.secao-main2 {
    margin: auto;
    align-items: center;
    background-color: rgba(216, 216, 216, 0.692);
    display: flex;
    justify-content: space-around; /* organiza os itens no centro */
    padding: 15px;
    max-width: 1200px;
    border-radius: 20px;
    box-shadow: 5px 10px 15px 6px rgba(71, 66, 37, 0.377);
}

.div-texto {
    max-width: 700px;
}

.div-texto h2 {
    font-family: var(--font-secondary);
    padding: 10px 10px 10px 0px;
}

.div-texto p {
    font-family: var(--font-secondary);
    line-height: 1.5; /*espaços entre linhas*/
    text-indent: 2rem; /* indenta o texto */
    padding: 10px 10px 10px 0px;
    text-align: justify;
    font-size: 20px;
}


.btn-compras {
    padding: 30px;
    padding-top: 70px;
}

.btn-buy-card {
    font-weight: bolder;
    font-size: 15px;
    padding: 20px;
    border-radius: 10px;
    border-width: 1px;
    background-color: rgb(255, 255, 255);
}

.btn-buy-crypto {
    font-weight: bolder;
    font-size: 15px;
    color: white;
    padding: 20px;
    border-radius: 10px;
    border-width: 1px;
    background-color: rgb(211, 159, 46);
    border: none;
}

.div-foto {
    text-align: center;
    width: 30rem;
}

